 	F1	o RA_BUILD	Create a new strategy portfolio
 	F2	o RA_EDIT	Edit certain parameters of one selected strategy portfolio
 	F3	a RA_START_ALL	Start one or more strategy portfolios
 	F4	a RA_STOP_ALL	Cancel open strategy orders on one portfolio at a time
 	F5	r SS_CTL_PORT	Center All Ladders
 	F9	o L2_LAUNCH	Invokes Ladder window
